<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="FolderLocation" value="D:/Writer/IndiaBull/IMG/"/>
    <add key="UploadLocation" value="D:/Writer Development/YES BANK/05102020/Upload/"/>
    <add key="LogFilePath" value="D:/Writer Development/YES BANK/05102020/LogFilePath/"/>
    <add key="ExcelFormat" value="LAN Number|Barcode|State|BC_Name|Customer_Name|externalcustno|BC_Branch|Center_Name|GroupID|Group_Name|Disbursed Amount|Disbursement Mode|Disbursement_Date|UPLOADED BY|UPLOADED DATE"/>
	<add key="ArchivalExcelFormat" value="Barcode|Archival Date|Lot No|Carton No|File Code"/>
    <add key="PDDExcelFilePath" value="D:/Writer Development/YES BANK/05102020/"/>
	<add key="ArchivalExcelFilePath" value="D:/Writer Development/YES BANK/05102020/"/>
    <add key="AppLocation" value="Services"/>
    <add key="EmailTemplatepath" value="D:\Writer Development\YES BANK\05102020\WebApp\JLG\JLG\Templates"/>
	<add key="PDDDeleteExcelFilePath" value="D:\Writer Development\YES BANK\05102020\TestFiles\"/>
    <add key="ProjName" value="JLG"/>
    <!--<add key="MailUserID" value="app_system"/>
    <add key="MailPassword" value="Sys1@345"/>
    --><!--<add key="MailHost" value="mail.writercorporation.com" />--><!--
    <add key="MailHost" value="172.16.1.76"/>
    <add key="MailPort" value="25"/>
    <add key="FromMailID" value="system@writercorporation.com"/>-->


    <add key="MailUserID" value="writerinformation" />
    <add key="MailPassword" value="Tapan@123" />
    <add key="MailHost" value="email-smtp.ap-south-1.amazonaws.com" />
    <add key="MailPort" value="587" />
    <add key="FromMailID" value="app_system@writerinformation.com"/>
    <add key="SMTPUserName" value="AKIASFOP2K2BTVNNKCO2"/>
    <add key="SMTPPassword" value="BJOb7PmWwMneKePb/0eUiZ/gIz0ieMhaKNLhsq5F8dlP"/>
    
    
    
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="SqlConn" connectionString="Data Source=IMSMUMLTO00543; Initial Catalog=JLG;Integrated Security=false;User ID=sa;Password=Writer@2022"/>
    <!--<add name="SqlConn" connectionString="Data Source=172.31.4.9; Initial Catalog=ISMARTWEB_IIFL;Integrated Security=false;User ID=sa;Password=ImAgE@2012#"/>-->
  </connectionStrings>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>-->
</configuration>